---
import SanityPost from './SanityPost.svelte';
import { getAllPosts } from '../../data-fetching/posts.fetch';
import Layout from '../../layouts/Layout.astro';

const posts = await getAllPosts();
---


<Layout title="Blog" type="blog" description="The blog posts of MacK Korris">
    <main>
        <h1>Blog</h1>

        <section>
            {posts.map(p => <SanityPost post={p} client:load />)}
        </section>
    </main>
</Layout>


<style>
    main {
        padding: 1em;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        gap: 1em;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
</style>