---
import Post from "../../components/Post.svelte";
import Layout from "../../layouts/Layout.astro";

const allPosts = await Astro.glob('../../posts/*.md');
const posts = allPosts.sort((p1, p2) => {
    const date1 = p1.frontmatter.date;
    const date2 = p2.frontmatter.date;

    if (date1 === date2) return 0;
    return date1 > date2 ? -1 : 1; 
});
---


<Layout title="Blog">
    <main>
        <h1>Blog</h1>
        <section>
            {posts.map(p => <Post {...p.frontmatter } client:idle />)}
        </section>
    </main>
</Layout>


<style>
    main {
        padding: 1em;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        gap: 1em;
    }

    
    section {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
</style>