article pre {
    padding: 1em;

}

article table {
    border: 1px solid black;
    border-collapse: collapse;
}

article td, th {
    border: 1px solid black;
    padding: .5em;
}

article ul {
    margin-left: 1em;
}


article ul {
    list-style-position: inside;
    list-style: disc !important;
}

article ol {
    /* list-style-position: inside; */
    padding-left: 1em;
    list-style: decimal !important;
}

article > ol {
    padding-left: 2em;
}

article p code {
    background-color: rgb(211, 211, 211);
    color: black;
    border-radius: .2em;
    padding: .2em .3em;
}

article blockquote {
    background-color: rgb(221, 221, 221);
    color: black;
    border-left: 5px solid rgb(148, 148, 148);
    padding: .25em .5em;
}