---
import Layout from "../../layouts/Layout.astro"
---


<Layout title="Contact MacK Korris" description="Get in touch with MacK">
    <main>
        <h1>MacK Korris</h1>
        <section id="info">
            <div id="contact-links">
                <a href="https://twitter.com/mack423" target="_blank" rel="noreferrer">
                    <i class="fa-brands fa-twitter"></i>
                    <span>@mack423</span>
                </a>
                <a href="https://www.instagram.com/nogoodsharks/" target="_blank" rel="noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                    <span>@nogoodsharks</span>
                </a>
                <a href="https://www.linkedin.com/in/mackenzie-korris-3a1665205/" target="_blank" rel="noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                    <span>MacK Korris</span>
                </a>
            </div>
        </section>
        <!-- <a href="/" id="back">Back</a> -->
    </main>
</Layout>


<style>

    main {
        display: grid;
        gap: 1em;
        text-align: center;
        padding: 1em 0;
        /* max-width: 500px; */
        margin: 0 auto;
    }


    #info {
        display: grid;
        gap: .25em;
    }

    #contact-links {
        display: grid;
        place-content: center;
        gap: .25em;
    }

    #contact-links a {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        gap: 1em;
        text-align: center;
        padding: 1em;
        width: 100%;
    }

    #contact-links a:hover {
        background-color: var(--clr-font);
        color: var(--clr-bg);
    }

    a {
        text-decoration: none;
    }

    #back {
        width: fit-content;
        margin: 0 auto;
    }

    #back:hover {
        text-decoration: underline;
    }

    i {
        font-size: 1.6rem;
    }
</style>