---
import Layout from "../../layouts/Layout.astro"
---



<Layout title="Contact MacK">
    <main>
        <h1>Contact Info</h1>
        <p>MacK Korris</p>
        <p>mack@mail.com</p>
        <a href="/">Back</a>
    </main>
</Layout>


<style>
    main {
        padding: 1em;
        display: grid;
		place-items: center;
		place-content: center;
    }
</style>