---
import { useSanityClient } from 'astro-sanity';
import PortableText from '../../components/PortableText.astro';
import Layout from '../../layouts/Layout.astro';
import { urlForImage } from '../../util/sanity';
import '../blog/[slug]/style.css';


const posts = await useSanityClient().fetch(`*[_type == "post"]`);
---


<Layout title="Sanity Posts" type="blog" description="Sanity Blog Posts">

    <main>
        <section>
            <img src={urlForImage(posts[0].thumbnail).width(200).url()} >
        </section>
        
        <article>
            <!-- <pre>{JSON.stringify(posts[0], null, 4)}</pre> -->
            <PortableText portableText={posts[0].body} />
        </article>
    </main>
</Layout>


<style>
    main {
        padding: 1em;
        display: grid;
        gap: 1em;
    }

    article {
        display: grid;
        gap: 1em;
    }
</style>