---
import Layout from '../layouts/Layout.astro';
import Window from '../components/os/Window.svelte';
import GreetingWindow from './GreetingWindow.svelte';
import HomeNav from './HomeNav.astro';
---

<!-- <GreetingWindow client:load /> -->

<Layout title="Home">
	
	<main>
		<h1>MacK Korris</h1>
		<p>A guy who copies and edits</p>
		<HomeNav />
	</main>
</Layout>

<style>
	main {
		position: relative;
		padding: 1em;
		margin: 0 auto;
		/* max-width: 400px; */
		text-align: center;
	}
</style>

