<header>
    <nav>
        <a href="/">Take Me Home</a>
    </nav>
</header>

<style>
    header {
        border-bottom: 1px solid black;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 10;
    }
    
    nav {
        padding: 1em;
        height: 100%;
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        align-items: center;
    }
</style>