<header>
    <nav>
        <a href="/">Take Me Home</a>
    </nav>
</header>

<style>
    header {
        border-bottom: 1px solid black;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        height: var(--nav-height);
        z-index: 1000;
    }

    nav {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1em;
    }
</style>