<header>
    <nav>
        <a href="/">Take Me Home</a>
    </nav>
</header>

<style>
    header {
        border-bottom: 1px solid black;
        position: sticky;
        width: 100%;
        top: 0;
        background-color: white;
    }

    nav {
        margin: 0 auto;
        padding: 1em;
        max-width: 1000px;
    }
</style>